body{
    text-align: center;
}

.box{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 2rem;
}


.first-line{
    display: flex;
    justify-content: center;
}

.second-line{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: rgb(4, 114, 28);
}
.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: blue;
}